
#aisle1 {
    text-align: center;
    background-color: whitesmoke;
}

#aisle1 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#aisle1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: white;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#aisle1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#aisle1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#aisle1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#aisle1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#aisle1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}


@media (max-width:799px){
    #aisle1 .container{
        justify-content: center;
    }
    
    #aisle1 .pro{
        margin: 15px;
    }
}

@media (max-width: 477px){
    #aisle1 .pro{
        width: 100%;
    }
}